# GitHub Models (get from https://github.com/settings/tokens)
GITHUB_TOKEN=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

# WeatherAPI (get from https://www.weatherapi.com/)
WEATHER_API_KEY=286d85461fb1480098e104758262801
